.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;

  grid-template-columns: auto max-content auto;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.header svg {
  font-size: 2em;
}