.categories-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  list-style: none;
  overflow-y: auto;
}

.category-item {
  display: grid;
}

.category-item-sortable {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}