button.fat-icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--background-secondary);
  border-radius: 0.25rem;
  color: var(--foreground-primary);
  cursor: pointer;
  font-size: 1.5em;
}

button.fat-icon-button svg {
  font-size: 1.5em;
}

button.fat-icon-button p {
  text-transform: capitalize;
}