.banner-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 0.5em;
  width: 100%;
  color: var(--foreground-primary);
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: 1.5em;
}

.banner-button svg {
  font-size: 1.1em;
}

.banner-button span {
  text-transform: uppercase;
}