.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-image);
  background-position: center;
  background-size: cover;
}

div.backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--thick-glazing);
  backdrop-filter: blur(0.4em);
  -webkit-backdrop-filter: blur(0.4em);
}

svg.backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}