.object-select {
  display: flex;
  border: solid 1px var(--background-secondary);
  border-radius: 0.3em;
  background: var(--thick-glazing);
}

.object-select:disabled {
  background: var(--background-secondary);
  color: var(--foreground-disabled);
}

.object-select legend {
  font-size: 0.8em;
  color: var(--foreground-secondary);
}

.object-select select {
  background: none;
  border: none;
  font-size: 1.5em;
  color: var(--foreground-primary);
  width: 100%;
}

.object-select select:focus {
  outline: none;
}

.object-select select:disabled {
  color: var(--foreground-disabled);
  cursor: not-allowed;
}

.object-select option {
  background: var(--background-primary);
  border: none;
  font-size: 1em;
  color: var(--foreground-primary);
  width: 100%;
}
