.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  overflow-x: hidden;
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: var(--background-color-high);
  font-size: 1.5em;
  border-radius: 1.5em;
  box-shadow: 0 0 1em 0.2em var(--background-color-shadow);
  width: 1.5em;
}

.button.active {
  animation: slidein 1s ease-in-out;
  width: 10em;
}

@keyframes slidein {
  from {
    width: 1.5em;
  }

  to {
    width: 10em;
  }
}

.button.active :global(svg) {
  animation: spinin 1s ease-in-out;
}

@keyframes spinin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
