.icon {
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

fieldset.icon {
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}