html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--foreground-primary);
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
}

.glazing {
  background-color: var(--glazing);
  backdrop-filter: blur(0.4em);
  -webkit-backdrop-filter: blur(0.4em);
}
