/* Use a media query to set variables for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url('/images/dark-background.jpg');
    --background-primary: #222831;
    --background-secondary: #393e46;
    --foreground-primary: #ffffff;
    --glazing: color-mix(in srgb, var(--background-primary), transparent 65%);
    --thick-glazing: color-mix(in srgb, var(--background-primary), transparent 40%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('/images/light-background.webp');
    --background-primary: #ffffff;
    --background-secondary: #cccccc;
    --foreground-primary: #000;
    --glazing: color-mix(in srgb, var(--background-primary), transparent 90%);
    --thick-glazing: color-mix(in srgb, var(--background-primary), transparent 80%);
  }
}