.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  z-index: 1000;
}

.popup-inner {
  background: var(--glazing);
  backdrop-filter: blur(0.2rem);
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  border: var(--foreground-secondary) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 1rem;
}

.popup-content {
  flex-grow: 1;
}

.popup .button-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  font-size: 2em;
  justify-items: center;
}

.popup h2 {
  margin: 0;
}
