:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-background-low: #ffffff5a;
  --light-background-high: #ffffffff;
  --light-background-shadow: #00000044;
  --light-foreground-low: #1e201e;
  --light-foreground-high: #fb773c;

  --dark-background-low: #22283199;
  --dark-background-high: #31363fff;
  --dark-background-shadow: #00000077;
  --dark-foreground-low: #eeeeee;
  --dark-foreground-high: #76abae;

  --background-color: var(--dark-background-low);
  --background-color-high: var(--dark-background-high);
  --background-color-shadow: var(--dark-background-shadow);
  --foreground-color: var(--dark-foreground-low);
  --background-image: url("dark-background.jpg");
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-background-low);
    --background-color-high: var(--light-background-high);
    --background-color-shadow: var(--light-background-shadow);
    --foreground-color: var(--light-foreground-low);
    --background-image: url("light-background.webp");
  }
}

:root {
  color: var(--foreground-color);
  /* background-color: var(--background-color); */
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(0.3em);
  -webkit-backdrop-filter: blur(0.3em);
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  overflow-x: hidden;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  color: var(--foreground-color);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#root {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
}

.window {
  box-sizing: border-box;
  height: 100%;
  padding: 1em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.5em;
  margin: 1em 0 4em;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  flex-wrap: wrap;
}

.grower {
  flex-grow: 1;
}
