.items-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 2em;
  margin: 0.5em -1em;
  list-style: none;
  overflow-y: auto;
  height: 100%;
}

.items-list li {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}